<h1>Listing messages</h1>

<table>
  <tr>
    <th>To user</th>
    <th>From user</th>
    <th>Omake message</th>
    <th>Main message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.to_user_id %></td>
    <td><%= message.from_user_id %></td>
    <td><%= message.omake_message %></td>
    <td><%= message.main_message %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
