<h1><%= t(:received_messages) %></h1>

<table>
  <thead>
  <tr>
    <% scope = [:activerecord, :attributes, :message] %>
    <th><%= t(:from_user, :scope => scope) %></th>
    <th><%= t(:joke, :scope => scope) %></th>
    <th><%= t(:reject) %></th>
    <th><%= t(:accept) %></th>
  </tr>
  </thead>
<% @messages.each do |message| %>
  <tbody>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= message.from_user.name %></td>
    <td><%= simple_format(message.joke) %></td>
    <td>
      <% if message.good_marked_by(current_user) %>
      <%= t(:funny) %>
      <% else %>
      <%= link_to t(:tedious), reject_message_path(message), {:method => :post} %>
      <% end %>
    </td>
    <td><%= link_to t(:show), view_message_path(message) %></td>
  </tr>
  </tbody>
<% end %>
</table>


