<h1><%= t(:received_messages) %></h1>

<table>
  <tr>
    <% scope = [:activerecord, :attributes, :message] %>
    <th><%= t(:from_user, :scope => scope) %></th>
    <th><%= t(:joke, :scope => scope) %></th>
    <th><%= t(:reject) %></th>
    <th><%= t(:accept) %></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.from_user.name %></td>
    <td><%= simple_format(message.joke) %></td>
    <td><%= link_to t(:tedious), '#' %></td>
    <td><%= link_to t(:show), '#' %></td>
  </tr>
<% end %>
</table>


