<h1><%= t(:select_user) %></h1>
<table>
  <tr>
    <% scope = [:messages] %>
    <th><%= t(:name, :scope => scope) %></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <%= form_tag :action => :create, :id => user.id do %>
  <tr>
    <td><%= user.name %></td>

    <td><%= link_to t(:new_message, :scope => scope), new_message_url(user) %></td>
  </tr>
  <% end %>
<% end %>
</table>
<br />
<%= paginate @users %>
