<h1><%= t(:sended_messages) %></h1>

<table>
  <tr>
    <% scope = [:activerecord, :attributes, :message] %>
    <th><%= t(:to_user, :scope => scope) %></th>
    <th><%= t(:joke, :scope => scope) %></th>
    <th><%= t(:body, :scope => scope) %></th>
    <th><%= t(:status) %></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.to_user.name %></td>
    <td><%= simple_format(message.joke) %></td>
    <td><%= simple_format(message.body) %></td>
    <td><%= link_to t(message.status), '#' %></td>
  </tr>
<% end %>
</table>

