<h1><%= t(:add_friend) %></h1>
<table>
  <thead>
  <tr>
    <% scope = [:friend] %>
    <th><%= t(:name, :scope => scope) %></th>
    <th><%= t(:follow_action, :scope => scope) %></th>
  </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    
    <td>
      <% unless current_user.friend? user %>
        <% form_tag :action => :create, :id => user.id do %>
          <%= submit_tag t(:follow, :scope => scope) %>
        <% end %>
      <% else %>
        <% form_tag :action => :unfollow, :id => user.id do %>
          <%= submit_tag t(:unfollow, :scope => scope) %>
        <% end %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
