<p><%= t('.hello', :email => @resource.email) %></p>

<p><%= t('.click_link') %></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('.ignore') %></p>
<p><%= t('.not_yet') %></p>
