<div id="menu">

  <h1><%= current_user ? current_user.name : 'メニュー'%></h1>

  <p>
    <% if user_signed_in? %>
    <% if current_user.twitter_auth? %>
    <%= image_tag(current_user.twitter_icon_url) %><br />
    <%= link_to "@#{current_user.twitter_id}", current_user.twitter_url %><br />
    <% end %>
    <p>
    <%= link_to_unless_current t(:sended_messages), sended_messages_path %><br />
    <%= link_to_unless_current t(:mark_messages), mark_messages_path %><br />
    <%= link_to_unless_current t(:received_messages), received_messages_path %><br />
    <%= link_to_unless_current t(:friend_list), friends_path %><br />
    <%= link_to_unless_current t(:show_user), show_user_registration_path %><br />
    <%= link_to_unless_current t(:select_user), new_message_path %><br />
    </p>
    <% end %>
  </p>

</div>
