<div id="menu">

  <h1><%= current_user ? current_user.name : 'メニュー'%></h1>

  <p>
    <%= link_to_unless_current t(:sended_messages), sended_messages_path %><br />
    <%= link_to_unless_current t(:mark_messages), mark_messages_path %><br />
    <%= link_to_unless_current t(:received_messages), received_messages_path %><br />
    <%= link_to_unless_current t(:friend_list), friends_path %><br />
    <%= link_to_unless_current t(:add_friend), add_friend_path %><br />
    <%= link_to_unless_current t(:select_user), select_user_path %><br />
    <a href="#">・サイドメニュー４</a><br />
  </p>

</div>
